<div class="sticky">
  <nav class="top-bar main-nav" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-9 columns end">
              <input type="text" name="search" placeholder="Search" />
            </div>
          </div>
        </li>
      </ul>
      <ul class="right">
        <li><a href="#"><img data-src="@Url.Content("~/Content/Iconic/svg/smart/envelope.svg")" class="iconic iconic-sm" /></a></li>
        <li class="has-dropdown">
          <a href="#"><img data-src="@Url.Content("~/Content/Iconic/svg/smart/ellipses.svg")" class="iconic iconic-sm" /></a>
          <ul class="dropdown">
            <li><a href="javascript:;"><img data-src="@Url.Content("~/Content/Iconic/svg/smart/cog.svg")" class="iconic small" /> Settings</a></li>
            <li><a href="javascript:;"><img data-gender="genderless" data-src="@Url.Content("~/Content/Iconic/svg/smart/person.svg")" class="iconic small" /> Account</a></li>
            <li><a href="javascript:;"><img data-state="logout" data-src="@Url.Content("~/Content/Iconic/svg/smart/account.svg")" class="iconic small" /> Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>